.close,
.minimized,
.hidden {
    display: none;
}

@font-face {
    font-display: swap;
    font-family: "VT323";
    src: url('fonts/VT323-Regular.woff2') format('woff2'), url('fonts/VT323-Regular.ttf') format('truetype');
}

* {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    /* outline: 1px solid red; */
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #008080;
    height: 100vh;
}

body.is-logged-off .desktop-item,
body.is-logged-off .footer,
body.is-logged-off .window:not(.login-window) {
    display: none;
}

.shutdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: repeat;
    cursor: default;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.window button,
.footer button {
    background: silver;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 black;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    user-select: none;
}

.window button:active,
.footer button:active,
.start-menu-button.active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px black;
}

.window button:focus,
.footer button:focus {
    outline: 1px dotted black;
    outline-offset: -4px;
}

.window button:disabled,
.footer button:disabled {
    text-shadow: 1px 1px 0 white;
    color: grey;
    pointer-events: none;
}

/* window styles */
.window {
    width: 250px;
    background-color: silver;
    /* margin: auto;
    margin-top: 25vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    z-index: 1;
    cursor: default;
}

.window.game-window {
    transform: translate(-60%, -80%);
}

.window.round-window {
    transform: translate(-30%, -50%);
    width: 240px;
}

.window.final-window {
    transform: translate(-40%, -70%);
}

.window.about-window {
    transform: translate(-70%, -70%);
}

.window.login-window,
.window.logoff-window {
    transform: translate(-50%, -50%);
}

.window.login-window {
    width: 370px;
    box-sizing: border-box;
    -webkit-font-smoothing: none;
    letter-spacing: -0.5px;
}

.window-drag-ghost {
    position: fixed;
    pointer-events: none;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H0v2h2v2h2V2H2V0z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%,
            8px 8px, 8px calc(100% - 8px), calc(100% - 8px) calc(100% - 8px), calc(100% - 8px) 8px, 8px 8px);
    mix-blend-mode: difference;
}

/* title-bar specific */
.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, grey, #b5b5b5);
    padding: 3px 2px 3px 3px;
    cursor: move;
    user-select: none;
    touch-action: none;
}

.ghost-title-bar {
    position: fixed;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    pointer-events: none;
    cursor: auto;
    background: linear-gradient(90deg, navy, #1084d0);
    /* will-change: transform, opacity; */
}

.ghost-title-bar {
    padding: 0 2px 0 3px;
}

.window.active .title-bar {
    background: linear-gradient(90deg, navy, #1084d0);
}

.title-bar-text {
    color: white;
    font-weight: 700;
    letter-spacing: 0;
    /* margin-right: 24px; */
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-bar-controls {
    display: flex;
}

.title-bar-controls button {
    display: block;
    min-height: 14px;
    min-width: 18px;
    padding: 0 0 2px 0;
}

.title-bar-controls button:active {
    padding: 0;
    text-shadow: 0 -1px black;
}

.title-bar-controls button:focus:not(:focus-visible) {
    outline: none;
}

.title-bar-controls button:last-child {
    margin-left: 2px;
}

/* field-row specific */
.window-content .field-row {
    display: flex;
    align-items: center;
    margin-block-end: 13px;
}

.window-content .field-row label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    width: 55px;
}

.window-content .field-row input {
    line-height: 2;
    height: 21px;
    background-color: white;
    box-shadow: inset -1px -1px white, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-sizing: border-box;
    padding: 3px 4px;
    border: none;
    border-radius: 0;
    appearance: none;
    outline: none;
    flex: 1;
}

.window-content .field-row input:focus {
    outline: none;
}

body:not(.using-mouse) .window-content .field-row input:focus {
    outline: 1px dotted black;
    outline-offset: -4px;
}

.window-content .field-row > * + * {
    margin-left: 6px;
}

/* content specific */
.window-content {
    margin: 8px;
}

.window-content p {
    max-width: 50rem;
    font-size: 13px;
    line-height: 1.5;
}

.window-content.justify p {
    text-align: justify;
}

.window-content section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.window-content .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-content.login-content .login-container {
    align-items: flex-start;
    gap: 10px;
}

.window-content.login-content .login-container p {
    line-height: 1;
    font-size: 14px;
    margin-block-start: 7px;
}

.window-content.login-content .login-container p:first-child {
    margin-block-start: 0;
    margin-block-end: 7px;
}

.window-content.login-content .login-container section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.window-content.logoff-content section {
    justify-content: flex-start;
    gap: 6px;
    padding-top: 8px;
}

.window-content.game-content section {
    justify-content: space-between;
}

.window-content.round-content .result-state .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 15px;
    -webkit-font-smoothing: none;
}

.window-content.round-content .result-state .grid-container > fieldset {
    border: 2px solid;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v5H0V2h2v1h1V2H0' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h4v4H0V1h1v2h2V1H0'/%3E%3C/svg%3E") 2;
    padding: 10px;
    padding-block-start: 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.window-content.round-content .result-state .grid-container > fieldset legend {
    padding: 0 4px;
    background: silver;
}

.window-content.round-content .result-state .grid-container > fieldset p {
    margin: 0;
}

.window-content.round-content .result-state .grid-container > fieldset.winner {
    -webkit-font-smoothing: auto;
}

.window-content.round-content .result-state .grid-container > fieldset.loser {
    opacity: 0.6;
}

.window-content.round-content .result-state > .result-message {
    text-align: center;
    font-weight: 700;
}

.window-content.final-content section button:last-child {
    margin-left: 6px;
}

.window-content .progress-indicator {
    appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: inset -2px -2px #dfdfdf, inset 2px 2px grey;
    box-sizing: border-box;
    height: 32px;
    padding: 4px;
    position: relative;
}

.window-content .progress-indicator .progress-indicator-bar {
    width: 0%;
    background-color: navy;
    display: block;
    height: 100%;
    transition: width 0.6s ease-in-out;
}

.window-content .progress-indicator .progress-indicator-bar.step-progress-bar {
    background-image: linear-gradient(90deg, navy 16px, transparent 0 2px);
    background-repeat: repeat;
    background-size: 18px 100%;
    background-color: transparent;
    transition: none;
}

.status-bar {
    display: flex;
    gap: 1px;
    margin: 0 1px;
}

.status-bar .status-bar-field {
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
    flex-grow: 1;
    margin: 0;
    padding: 2px 3px;
    font-size: 13px;
    -webkit-font-smoothing: none;
}

.table {
    max-height: 120px;
    background-color: white;
    border: 2px groove transparent;
    box-sizing: border-box;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='gray' d='M0 0h4v1H0z'/%3E%3Cpath fill='gray' d='M0 0h1v4H0z'/%3E%3Cpath fill='%230a0a0a' d='M1 1h2v1H1z'/%3E%3Cpath fill='%230a0a0a' d='M1 1h1v2H1z'/%3E%3Cpath fill='%23fff' d='M0 4h5v1H0z'/%3E%3Cpath fill='%23fff' d='M4 0h1v5H4z'/%3E%3Cpath fill='%23dfdfdf' d='M3 1h1v3H3z'/%3E%3Cpath fill='%23dfdfdf' d='M1 3h3v1H1z'/%3E%3C/svg%3E") 2;
    overflow: auto;
    margin-bottom: 6px;
}

.table table {
    border-collapse: collapse;
    position: relative;
    text-align: left;
    white-space: nowrap;
    background-color: white;
    width: 100%;
}

.table table thead tr th {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    box-sizing: border-box;
    font-weight: 400;
    height: 17px;
    padding: 0 6px;
    position: sticky;
    top: 0;
}

.table table tbody tr * {
    height: 14px;
    padding: 0 6px;
}

.table table tbody tr.highlighted {
    background-color: navy;
    color: white;
}

.table table tbody tr.dimmed {
    color: #86878e;
}

.window-content.about-content > .flex-container > button.emoji-button {
    padding: 0;
    min-width: 0;
    height: 48px;
}

/* footer syles */
.footer {
    display: flex;
    height: 28px;
    background-color: silver;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.footer .taskbar-items {
    display: flex;
    flex: 1;
}

.footer .taskbar-items .spacing {
    width: 2px;
    border: none;
    margin: 0 2px;
    box-shadow: inset -1px -1px grey, inset 1px 1px #dfdfdf;
}

.footer .taskbar-items button {
    min-width: 0;
    padding: 0 5px;
    letter-spacing: 0;
}

.footer .taskbar-items .start-menu-button {
    margin: 0 3px 0 0;
    font-weight: 700;
}

.footer .taskbar-items .taskbar-item {
    margin: 0 3px;
    font-weight: 400;
    flex: 0 1 160px;
    max-width: 160px;
    min-width: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer .taskbar-items .taskbar-item.active {
    box-shadow:
        inset -1px -1px #fff,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf,
        inset 2px 2px grey,
        inset 0 3px #fff;
    font-weight: 700;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
    background-position-y: 1px;
}

.footer .taskbar-items .taskbar-item.active:not(:focus-visible) {
    outline: none;
}

.footer .clock {
    appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
    box-sizing: border-box;
    padding: 4px 0;
    width: 70px;
    text-align: center;
    flex-shrink: 0;
}

.start-menu-container {
    position: relative;
}

.start-menu-container .start-menu {
    display: flex;
    position: absolute;
    bottom: 100%;
    width: 200px;
    background: silver;
    padding: 3px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    pointer-events: none;
    z-index: 100;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
}

.start-menu-container .start-menu.open {
    pointer-events: auto;
    opacity: 1;
    max-height: 500px;
}

.start-menu-container .start-header {
    width: 23px;
    box-sizing: border-box;
    background: linear-gradient(to bottom,
            #000080 70%,
            #1084d0 80%,
            #000080 100%);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 6px;
    padding-bottom: 8px;
}

.start-menu-container .start-header span {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: 2px;
}

.start-menu-container .start-items {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: none;
}

.start-menu-container .start-items li:not(.divider) {
    position: relative;
}

.start-items li:hover .icon.icon-github,
.start-items li:hover .icon.icon-copy,
.start-items li:hover .icon.icon-ph,
.start-items li:hover .icon.icon-font,
.start-items li:hover .icon.icon-about {
    filter: invert(1);
}

.start-menu-container .start-items li a,
.start-menu-container .start-items li button {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding: 4px 6px;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: none;
    color: inherit;
    font: inherit;
    text-align: left;
    appearance: none;
    border: none;
    background: none;
}

.start-menu-container .start-items li a:focus-visible,
.start-menu-container .start-items li a:hover,
.start-menu-container .start-items li button:focus-visible,
.start-menu-container .start-items li button:hover {
    background: navy;
    color: white;
    outline: none;
}

.start-menu-container .start-items li a:not(:focus-visible),
.start-menu-container .start-items li button:not(:focus-visible) {
    outline: none;
}

.start-items .divider {
    box-sizing: border-box;
    height: 2px;
    margin: 4px 2px;
    box-shadow: inset -1px -1px grey, inset 1px 1px #dfdfdf;
}

/* icons */
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    filter: contrast(1.5);
}

.icon-github {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z' transform='scale(64)' fill='%231B1F23'/%3E%3C/svg%3E");
}

.icon-top {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 44 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.68927 35.4922L13.148 20.0493H30.9831L35.4419 35.4922H8.68927Z' fill='%23EED9C3'/%3E%3Cellipse cx='27.7848' cy='27.8815' rx='1.26005' ry='1.24284' fill='%23353535'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.446 26.4685C19.446 26.0344 19.0892 25.6826 18.6493 25.6826C17.6381 25.6826 15.9035 25.6826 14.8922 25.6826C14.4524 25.6826 14.0955 26.0344 14.0955 26.4685C14.0955 27.1449 14.0955 28.1309 14.0955 28.9019C14.0955 29.5527 14.6306 30.0805 15.2903 30.0805C15.6996 30.0805 16.1763 30.0805 16.6579 30.0805C17.3973 30.0805 18.1063 29.7907 18.6295 29.2748C19.1523 28.7594 19.446 28.0597 19.446 27.3305C19.446 27.0178 19.446 26.7214 19.446 26.4685Z' fill='%23A78347'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.0003 5.29008L43.8516 0.759277L39.0002 18.7593L35.0002 22.7593L35.0003 5.29008Z' fill='%23E3B261'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85146 5.29008L0.000193596 0.759277L4.85162 18.7593L8.85162 22.7593L8.85146 5.29008Z' fill='%23E3B261'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.4419 13.5028C35.4419 13.5028 28.7537 9.10498 22.0656 9.10498C15.3774 9.10498 8.68927 13.5028 8.68927 13.5028V26.6964L10.4728 30.2147C11.7525 25.352 17.5443 23.3263 21.5759 26.3314L22.0656 26.6964L22.5553 26.3314C26.5868 23.3263 32.3786 25.352 33.6583 30.2147L35.4419 26.6964V13.5028Z' fill='%23E3B261'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6068 33.2935L14.0398 53.9634L9.12134 50.4451L13.148 35.4924L17.6068 33.2935Z' fill='%23D4D4D4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.5244 33.2935L30.0914 53.9634L35.0098 50.4451L30.9831 35.4924L26.5244 33.2935Z' fill='%23D5D5D5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.68927 26.6968L5.12225 39.8904L9.58102 48.6861L13.148 35.4925L8.68927 26.6968Z' fill='%23E6E6E6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.4418 26.6968L39.0089 39.8904L34.5501 48.6861L30.9831 35.4925L35.4418 26.6968Z' fill='%23E6E6E6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6068 33.2937L13.5939 54.8432L22.0655 59.2411L30.5372 54.8432L26.5243 33.2937L22.3981 31.2588L22.0655 31.0947L17.6068 33.2937Z' fill='%23E6E6E6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.6636 34.1729H20.5425C20.5425 34.1729 20.5425 34.694 20.5425 35.2732C20.5425 35.6813 20.707 36.0723 20.9995 36.3608C21.292 36.6493 21.6884 36.8116 22.1022 36.8116C22.1026 36.8116 22.1035 36.8116 22.1039 36.8116C22.5177 36.8116 22.9141 36.6493 23.2066 36.3608C23.4991 36.0723 23.6636 35.6813 23.6636 35.2732C23.6636 34.694 23.6636 34.1729 23.6636 34.1729Z' fill='%23353535'/%3E%3C/svg%3E%0A");
}

.icon-jordan {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
}

.icon.icon-copy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='logo' width='40' height='40' viewBox='0 -.5 8 8'%3E%3Cpath d='m0 0h1m1 0h1m1 0h1m-4 1h1m2 0h1m1 1h1m-6 1h1m-2 1h1m-1 1h1' stroke='%23738ff5'%3E%3C/path%3E%3Cpath d='m2 1h2m1 0h1m-4 1h1m2 0h1m0 1h1m-6 1h1m4 0h1m-6 1h1m-2 1h1m5 0h1m-2 1h1' stroke='%23535bc9'%3E%3C/path%3E%3Cpath d='m3 2h2m-3 1h4m-4 1h1m1 0h1m-3 1h6m-7 1h5m-6 1h5' stroke='%23244bc1'%3E%3C/path%3E%3Cpath d='m3 4h1m1 0h1' stroke='%23fff'%3E%3C/path%3E%3C/svg%3E");
}

.icon.icon-font {
    background-image: url("data:image/svg+xml,%3Csvg width='208' height='208' viewBox='0 0 208 176' xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='layer'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath d='M176 116c0 6.5-7.33 12-16 12s-16-5.5-16-12 7.33-12 16-12 16 5.5 16 12m32-100v144a16 16 0 0 1-16 16H16a16 16 0 0 1-16-16V16A16 16 0 0 1 16 0h176a16 16 0 0 1 16 16m-88.63 116.88-44-104a8 8 0 0 0-14.74 0l-44 104a8 8 0 0 0 14.74 6.24L42.84 112h50.32l11.47 27.12a8 8 0 0 0 14.74-6.24M192 84c0-15.44-14.36-28-32-28a34.86 34.86 0 0 0-20.78 6.68 8 8 0 0 0 9.56 12.83A18.84 18.84 0 0 1 160 72c8.56 0 15.8 5.36 16 11.76v8A35.24 35.24 0 0 0 160 88c-17.64 0-32 12.56-32 28s14.36 28 32 28a35.1 35.1 0 0 0 16.93-4.26A8 8 0 0 0 192 136zM49.61 96h36.78L68 52.53z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon.icon-ph {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 44' fill='none' xmlns='http://www.w3.org/2000/svg' id='logo'%3E%3Cpath d='M17.1026 0.0502575H1.49434C1.19446 0.0502575 0.906859 0.16938 0.694815 0.381425C0.48277 0.59347 0.363647 0.881056 0.363647 1.18093V28.9189C0.367464 32.8948 1.94793 36.707 4.75845 39.5193C7.56897 42.3316 11.3801 43.9145 15.3561 43.9209C15.5045 43.9209 15.6516 43.8917 15.7887 43.8348C15.9259 43.778 16.0506 43.6947 16.1556 43.5897C16.2606 43.4847 16.3438 43.3601 16.4007 43.2229C16.4575 43.0857 16.4867 42.9387 16.4867 42.7902V30.0495H17.093C19.0854 30.0852 21.0649 29.7236 22.916 28.9858C24.7671 28.2481 26.4526 27.1489 27.8742 25.7525C29.2959 24.3561 30.425 22.6905 31.1959 20.8529C31.9667 19.0153 32.3637 17.0426 32.3637 15.0499C32.3637 13.0572 31.9667 11.0845 31.1959 9.24687C30.425 7.40928 29.2959 5.74366 27.8742 4.34728C26.4526 2.95089 24.7671 1.85173 22.916 1.11395C21.0649 0.376168 19.0854 0.0145723 17.093 0.0502575H17.1026ZM14.2157 41.6114C11.2443 41.3412 8.46159 40.0378 6.35178 37.928C4.24197 35.8181 2.93856 33.0354 2.66832 30.064H14.2157V41.6114ZM14.2157 24.1315L3.32749 2.31161H14.235L14.2157 24.1315ZM17.1026 27.7882H16.4964V2.31161H17.1026C18.7962 2.27869 20.4794 2.58386 22.0537 3.20923C23.628 3.8346 25.0618 4.76763 26.2712 5.95375C27.4806 7.13987 28.4413 8.55527 29.0972 10.1171C29.753 11.679 30.0908 13.3559 30.0908 15.0499C30.0908 16.7439 29.753 18.4208 29.0972 19.9827C28.4413 21.5445 27.4806 22.9599 26.2712 24.146C25.0618 25.3321 23.628 26.2652 22.0537 26.8906C20.4794 27.5159 18.7962 27.8211 17.1026 27.7882Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.icon.icon-sl {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' aria-label='Streamline Logo'%3E%3Cg class='layer'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath d='m18.74,4.06c0,2.23 -1.76,4.05 -3.93,4.05l-3.92,0l2.77,2.87l3.92,0c1.01,0 2.01,0.39 2.77,1.18c1.53,1.59 1.53,4.15 0,5.74l-6.68,6.92c-0.71,0.73 -1.69,1.18 -2.77,1.18c-2.16,0 -3.92,-1.81 -3.92,-4.06c0,-2.23 1.75,-4.05 3.92,-4.05l3.92,0l-2.78,-2.86l-3.92,0c-1.01,0 -2.01,-0.39 -2.77,-1.18c-1.53,-1.59 -1.53,-4.15 0,-5.74l6.69,-6.92c0.71,-0.74 1.69,-1.19 2.77,-1.19c2.16,0 3.93,1.81 3.93,4.06z' fill='%2365D80D' id='svg_1'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-yt {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64'%3E%3Cpath d='M62.603 16.596a8.06 8.06 0 0 0-5.669-5.669C51.964 9.57 31.96 9.57 31.96 9.57s-20.005.04-24.976 1.397a8.06 8.06 0 0 0-5.669 5.669C0 21.607 0 32 0 32s0 10.393 1.356 15.404a8.06 8.06 0 0 0 5.669 5.669C11.995 54.43 32 54.43 32 54.43s20.005 0 24.976-1.356a8.06 8.06 0 0 0 5.669-5.669C64 42.434 64 32 64 32s-.04-10.393-1.397-15.404' fill='red'/%3E%3Cpath d='M25.592 41.612 42.187 32l-16.596-9.612z' fill='%23fff'/%3E%3C/svg%3E");
}

.icon.icon-about {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' id='Interface-Essential-Question-Help-Circle-1--Streamline-Pixel' height='32' width='32'%3E%3Cdesc%3E Interface Essential Question Help Circle 1 Streamline Icon: https://streamlinehq.com %3C/desc%3E%3Ctitle%3Einterface-essential-question-help-circle-1%3C/title%3E%3Cpath d='M30.48 9.14h-1.53V6.09h-1.52V4.57H25.9V3.05h-3.04V1.52h-3.05V0h-7.62v1.52H9.14v1.53H6.09v1.52H4.57v1.52H3.05v3.05H1.52v3.05H0v7.62h1.52v3.05h1.53v3.04h1.52v1.53h1.52v1.52h3.05v1.53h3.05V32h7.62v-1.52h3.05v-1.53h3.04v-1.52h1.53V25.9h1.52v-3.04h1.53v-3.05H32v-7.62h-1.52ZM19.81 25.9h-1.52v1.53h-4.58V25.9h-1.52v-4.57h1.52v-1.52h4.58v1.52h1.52Zm4.57 -13.71h-1.52v1.52h-1.53v1.53h-1.52v1.52h-1.52v1.53h-4.58v-3.05h1.53v-1.53h1.52v-1.52h1.53V9.14h-1.53V7.62h-3.05v1.52h-1.52v3.05H7.62V7.62h1.52V6.09h1.53V4.57h1.52V3.05h7.62v1.52h1.52v1.52h1.53v1.53h1.52Z' fill='%23000000' stroke-width='1'%3E%3C/path%3E%3C/svg%3E");
}

.icon.icon-auth {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' id='Interface-Essential-Key-1--Streamline-Pixel' height='32' width='32'%3E%3Cdesc%3E Interface Essential Key 1 Streamline Icon: https://streamlinehq.com %3C/desc%3E%3Ctitle%3Einterface-essential-key_1%3C/title%3E%3Cg%3E%3Cpath d='M19.055 7.62h1.52v6.09h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M26.675 7.62h1.52v6.09h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M20.575 6.1h6.1v1.52h-6.1Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M20.575 12.19h6.1v18.29h-6.1Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M26.675 19.81h1.52v1.52h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M26.675 25.91h1.52v1.52h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M28.195 7.62h1.52v6.09h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M26.675 13.71h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M26.675 6.1h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Crect width='6.1' height='9.141' x='12.9545' y='7.61975' fill='%23008080'/%3E%3Crect width='4.57' height='4.57' x='9.905' y='15.239' fill='%23008080'/%3E%3Crect width='6.1' height='6.09' x='6.86' y='18.29' fill='%23008080'/%3E%3Crect width='3.051' height='4.58' x='3.815' y='21.33' fill='%23008080'/%3E%3Crect width='3.041' height='3.05' x='11.435' y='22.86' fill='%23008080'/%3E%3Cpath d='m25.145 19.81 3.05 0 0 1.52 -3.05 0 0 4.58 3.05 0 0 1.52 -3.05 0 0 3.05 1.53 0 0 -1.53 3.04 0 0 -4.57 -3.04 0 0 -1.52 3.04 0 0 -4.57 -3.04 0 0 -3.05 -1.53 0 0 4.57z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M22.095 30.48h3.05V32h-3.05Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M20.575 4.57V6.1h3.05v1.52h-3.05v4.57h6.1V7.62h-1.53V6.1h1.53V4.57h-1.53V3.05h-1.52v1.52Zm3.05 6.1H22.1V9.14h1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M22.095 1.52h1.53v1.53h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='m22.095 15.24 -1.52 0 0 -1.53 -1.52 0 0 3.05 1.52 0 0 13.72 1.52 0 0 -15.24z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M19.055 6.1h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='m16.005 9.14 0 3.05 1.52 0 0 1.52 1.53 0 0 -6.09 -1.53 0 0 1.52 -1.52 0z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 16.76h4.58v1.53h-4.58Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 6.1h3.05v1.52h-3.05Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 0h7.62v1.52h-7.62Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 22.86h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 24.38h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 21.33h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 18.29h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 7.62h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 1.52h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 25.91h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 19.81h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 9.14h1.52v6.1h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 3.05h1.52v4.57h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M9.905 24.38h1.53v1.53h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M9.905 15.24h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M8.385 22.86h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M8.385 16.76h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M6.865 24.38h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M6.865 18.29h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M5.335 25.91h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M5.335 19.81h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M3.815 24.38h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M3.815 21.33h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M2.285 22.86h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' id='Interface-Essential-Key-1--Streamline-Pixel' height='32' width='32'%3E%3Cdesc%3E Interface Essential Key 1 Streamline Icon: https://streamlinehq.com %3C/desc%3E%3Ctitle%3Einterface-essential-key_1%3C/title%3E%3Cg%3E%3Cpath d='M19.055 7.62h1.52v6.09h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M26.675 7.62h1.52v6.09h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M20.575 6.1h6.1v1.52h-6.1Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M20.575 12.19h6.1v18.29h-6.1Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M26.675 19.81h1.52v1.52h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M26.675 25.91h1.52v1.52h-1.52Z' fill='%23fff000' stroke-width='1'/%3E%3Cpath d='M28.195 7.62h1.52v6.09h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M26.675 13.71h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M26.675 6.1h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='m25.145 19.81 3.05 0 0 1.52 -3.05 0 0 4.58 3.05 0 0 1.52 -3.05 0 0 3.05 1.53 0 0 -1.53 3.04 0 0 -4.57 -3.04 0 0 -1.52 3.04 0 0 -4.57 -3.04 0 0 -3.05 -1.53 0 0 4.57z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M22.095 30.48h3.05V32h-3.05Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M20.575 4.57V6.1h3.05v1.52h-3.05v4.57h6.1V7.62h-1.53V6.1h1.53V4.57h-1.53V3.05h-1.52v1.52Zm3.05 6.1H22.1V9.14h1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M22.095 1.52h1.53v1.53h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='m22.095 15.24 -1.52 0 0 -1.53 -1.52 0 0 3.05 1.52 0 0 13.72 1.52 0 0 -15.24z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M19.055 6.1h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='m16.005 9.14 0 3.05 1.52 0 0 1.52 1.53 0 0 -6.09 -1.53 0 0 1.52 -1.52 0z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 16.76h4.58v1.53h-4.58Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 6.1h3.05v1.52h-3.05Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 0h7.62v1.52h-7.62Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M14.475 22.86h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 24.38h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 21.33h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 18.29h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 7.62h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M12.955 1.52h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 25.91h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 19.81h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 9.14h1.52v6.1h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M11.435 3.05h1.52v4.57h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M9.905 24.38h1.53v1.53h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M9.905 15.24h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M8.385 22.86h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M8.385 16.76h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M6.865 24.38h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M6.865 18.29h1.52v1.52h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M5.335 25.91h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M5.335 19.81h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M3.815 24.38h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M3.815 21.33h1.52v1.53h-1.52Z' fill='%23000000' stroke-width='1'/%3E%3Cpath d='M2.285 22.86h1.53v1.52h-1.53Z' fill='%23000000' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A"); */
}

/* rps icons */
.icon.icon-rock {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' shape-rendering='crispEdges'%3E%3Cpath d='M12 3h8v2h-8zM8 5h4v2H8zm12 0h4v2h-4zM6 7h2v2H6zm18 0h2v2h-2zM4 9h2v2H4zm22 0h2v2h-2zM4 11h2v2H4zm24 0h2v2h-2zM2 13h2v2H2zm26 0h2v2h-2zM2 15h2v2H2zm26 0h2v2h-2zM2 17h2v2H2zm26 0h2v2h-2zM4 19h2v2H4zm22 0h2v2h-2zM4 21h2v2H4zm20 0h2v2h-2zM6 23h4v2H6zm16 0h2v2h-2zm-12 2h12v2H10zM8 11h2v2H8zm8 0h2v2h-2zm-6 4h6v2h-6zm10-8h2v2h-2zm-2 2h6v2h-6zm2 2h2v2h-2zM8 19h2v2H8zm14-2h2v2h-2z'/%3E%3C/svg%3E");
}

.icon.icon-paper {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' height='32' width='32'%3E%3Cdesc%3EContent Files Notepad Streamline Icon: https://streamlinehq.com%3C/desc%3E%3Ctitle%3Econtent-files-notepad%3C/title%3E%3Cpath d='M12.955 0v1.52h-3.05v1.53h3.05v1.52h1.52V3.05h3.05v1.52h1.52V3.05h3.05v1.52h1.53V3.05h1.52V6.1h1.52V4.57h1.53v25.91h-16.76V32h18.28v-1.52h1.52V4.57h-1.52V3.05h-1.52V1.52h-4.57V0h-1.53v1.52h-3.05V0h-1.52v1.52h-3.05V0z'/%3E%3Cpath d='M23.625 6.1h1.52v3.04h-1.52Zm-1.53 6.09h4.57v-1.52h-3.04V9.14h-1.53z'/%3E%3Cpath d='M20.575 15.24h-1.53v3.05h1.53v-1.53h6.09v-1.52h-4.57v-3.05h-1.52zm-3.05 6.09h9.14v-1.52h-7.62v-1.52h-1.52zm-1.52-9.14h1.52v1.53h-1.52Zm0-3.05h1.52v1.53h-1.52Zm-3.05 15.24h13.71v1.53h-13.71Zm-1.52-10.66h4.57v1.52h-4.57Zm0-4.58h1.52v1.53h-1.52Z'/%3E%3Cpath d='M11.435 22.86h6.09v-1.53H2.285v1.53h7.62v7.62h1.53zm-1.53-10.67h1.53v1.53h-1.53Zm-1.52-9.14h1.52V6.1h-1.52ZM6.855 6.1h1.53v3.04h-1.53Zm-1.52 3.04h1.52v3.05h-1.52Zm-1.52 3.05h1.52v3.05h-1.52Zm-1.53 3.05h1.53v3.05h-1.53Zm-1.52 3.05h1.52v3.04H.765Z'/%3E%3C/svg%3E");
}

.icon.icon-scissors {
    background-image: url("hand.svg");
}

/* emojis */
.icon-emoji {
    filter: none;
    width: 48px;
    height: 48px;
}

.icon-happy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Ccircle cx='128' cy='128' r='96' fill='yellow' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Cpath d='M168,152c-8.3,14.35-22.23,24-40,24s-31.7-9.65-40-24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Ccircle cx='92' cy='108' r='10'/%3E%3Ccircle cx='164' cy='108' r='10'/%3E%3C/svg%3E");
}

.icon-sad {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Ccircle cx='128' cy='128' r='96' fill='yellow' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Cline x1='184' y1='96' x2='152' y2='128' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Cline x1='184' y1='128' x2='152' y2='96' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Cline x1='104' y1='96' x2='72' y2='128' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Cline x1='104' y1='128' x2='72' y2='96' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Ccircle cx='128' cy='180' r='10'/%3E%3C/svg%3E");
}

.icon-wink {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Ccircle cx='128' cy='128' r='96' fill='yellow' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Ccircle cx='92' cy='108' r='10'/%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12' d='M152 108h24m-8 44c-8.3 14.35-22.23 24-40 24s-31.7-9.65-40-24'/%3E%3C/svg%3E%0A");
}

.icon-nervous {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Ccircle cx='128' cy='128' r='96' fill='yellow' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Ccircle cx='92' cy='108' r='10'/%3E%3Ccircle cx='164' cy='108' r='10'/%3E%3Cpath d='M80 168c12 0 12-16 24-16s12 16 24 16 12-16 24-16 12 16 24 16' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3C/svg%3E");
}

.icon-melting {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Cpath d='M56.44 192A95.67 95.67 0 0 1 32 126.06C33 74.58 75.15 32.73 126.63 32a96 96 0 0 1 72.93 160' fill='%23ff0' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Ccircle cx='164' cy='140' r='10'/%3E%3Ccircle cx='116' cy='92' r='10'/%3E%3Cpath d='M96 240a16 16 0 0 1 0-32h56a16 16 0 0 0 0-32h-16c-26.51 0-56-21.49-56-48a49 49 0 0 1 .66-8' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3C/svg%3E");
}

.icon-mask {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Cpath d='M216 48a8 8 0 0 0-10.89-7.47C190 46.41 160.89 55.71 128 55.71s-62-9.3-77.11-15.16A8 8 0 0 0 40 48v55.77C40 174.6 79.4 232 128 232s88-57.4 88-128.21Z' fill='%23ff0' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Cpath d='M144 128c4.39-4.91 12.89-8 20-8s15.61 3.09 20 8m-112 0c4.39-4.91 12.89-8 20-8s15.61 3.09 20 8m50.36 40a44.89 44.89 0 0 1-68.72 0' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3C/svg%3E");
}

.icon-confetti {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Cpath d='M40.49 205.52 93 61.14a7.79 7.79 0 0 1 12.84-2.85l91.88 91.88a7.79 7.79 0 0 1-2.86 12.83L50.48 215.51a7.79 7.79 0 0 1-9.99-9.99' fill='%23ff0' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3Cpath d='M168 72s0-24 24-24 24-24 24-24m-72-8v24m72 72 16 16m-16-48 24-8M78.09 102.09l75.82 75.82m-52.8 19.2-42.22-42.22' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3E%3C/svg%3E");
}

/* desktop-item styles */
button.desktop-item {
    position: absolute;
    top: 18px;
    left: 18px;
    padding: 4px 2px 2px;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    min-width: 0;
    cursor: default;
    text-shadow: 1px 1px 0px black;
    box-sizing: border-box;
    touch-action: none;
    outline: none;
}

.desktop-icon-container {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.desktop-icon-container::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0;
    background-size: 3px 3px;
    mix-blend-mode: multiply;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='navy'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
    transform: rotate(90deg);
}

button.desktop-item:focus .desktop-icon-container::after,
button.desktop-item:focus-visible .desktop-icon-container::after {
    opacity: 1;
}

.desktop-main-icon {
    display: block;
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    background: white;
    pointer-events: none;
}

.desktop-shortcut-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 13px;
    height: 13px;
    padding: 1px;
    background: white;
    box-shadow: inset -1px -1px black, inset 1px 1px #86878e;
    image-rendering: pixelated;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
}

.desktop-item-label {
    font-size: 13px;
    line-height: 1.05;
    text-align: center;
    word-break: break-word;
    box-sizing: border-box;
    width: 70px;
    position: relative;
}

.desktop-item-label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    outline-offset: -1px;
}

button.desktop-item:hover:not(:focus, :focus-visible) .desktop-item-label::after {
    outline: 1px dotted #fff;
}

.desktop-item:active .desktop-item-label,
.desktop-item:focus-visible .desktop-item-label,
.desktop-item:focus .desktop-item-label {
    background: navy;
    color: white;
}

.desktop-item:active .desktop-item-label::after,
.desktop-item:focus-visible .desktop-item-label::after,
.desktop-item:focus .desktop-item-label::after {
    outline: 1px dotted #fff;
}

.desktop-item-label-editor {
    width: 70px;
    font: inherit;
    font-size: 12px;
    line-height: 1.05;
    box-sizing: border-box;
    background: white;
    color: black;
    border: 1px solid navy;
    padding: 0 2px;
    text-align: center;
    outline: none;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    word-break: break-word;
    pointer-events: auto;
    touch-action: auto;
    user-select: text;
}

button.desktop-item-ghost {
    position: fixed;
    opacity: 0.6;
    pointer-events: none;
    text-shadow: none;
}

button.desktop-item-ghost .desktop-icon-container::after {
    opacity: 0.6;
}

button.desktop-item-ghost .desktop-item-label {
    /* background: transparent; */
    color: black;
    outline: none;
}

button.desktop-item-ghost .desktop-item-label::after {
    display: none;
}

/* scrollbar styles */
::-webkit-scrollbar {
    width: 16px;
    height: 17px;
}

::-webkit-scrollbar-corner {
    background: #dfdfdf;
}

::-webkit-scrollbar-track {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
    display: block
}

::-webkit-scrollbar-button:vertical:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px
}

::-webkit-scrollbar-button:vertical:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px
}

::-webkit-scrollbar-button:horizontal:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px
}

::-webkit-scrollbar-button:horizontal:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px
}